/* Footer Stili */
.yirtik-kenar2 {
  position: absolute;
  top :-40px; /* Alt kenara hizalar */
  left: 0;
  width: 100%;
  height: 50px; /* Yırtık kenarın yüksekliği */
  overflow: hidden;

}

.yirtik-kenar2 img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%; /* Görselin genişliğini artırarak tekrarları azalt */
  height: 100%; /* Görselin yüksekliğini tam kapsayacak şekilde ayarlayın */
  animation: hareket 30s linear infinite; /* Animasyon süresini uzatarak daha akıcı hale getir */
  filter: brightness(0) invert(1); /* Görselleri aynı renge dönüştür */
}

.border-1 {
  z-index: 1; /* Arka plan görseli */
  opacity: 1; /* Tam görünürlük */
}

.border-2 {
  z-index: 2; /* Ön plan görseli */
  opacity: 1; /* Tam görünürlük */
}

@keyframes hareket {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Görselin sürekli kaymasını sağlar */
  }
}
.footer {
  position: relative;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 40px 20px;
  font-family: 'Playfair Display', serif;
  text-align: center;

}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: start;
}

.footer-section {
  margin: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
}

.footer-section h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ecf0f1;
  margin: 5px auto;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  position: relative;
  padding-bottom: 6px;
  transition: border-color 0.4s ease-in-out, padding-bottom 0.2s ease-in-out;
  color: #ecf0f1;
  text-decoration: none;

}
.footer-section.quick-links ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 0 #ffd700 solid;
  transition: width 0.4s ease, left 0.4s ease, border-width 0.4s ease;
  width: 0;
}
.footer-section.quick-links ul li a:hover::before {
  border-width: 1px;
  width: 100%;
  left: 0;
}



.social-media ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media li a {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.social-media li a.facebook:hover {
  color: #3b5998; /* Facebook Blue */
}

.social-media li a.instagram:hover {
  color: #e4405f; /* Instagram Gradient */
}

.social-media li a.twitter:hover {
  color: #1da1f2; /* Twitter Blue */
}

.social-media li a.linkedin:hover {
  color: #0077b5; /* LinkedIn Blue */
}


.footer-bottom {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ecf0f1;
  background-color: #2c3e50;
  width: 100%;
  text-align: center;
}


